@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300&display=swap');
body{
    background-color: azure;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.links{
    margin-top: 30px;
}
.conteiner p {
    font-style: italic;

}
a {
  color: #fff;
  text-decoration: none;
}
.navigation {
  display: flex;
  justify-content: space-between;

  background-color: rgb(44, 110, 191);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.header__section {
  display: flex;
  align-items: center;
}
.header__item {
  padding: 2px 15px;
  font-size: 20px;
  margin-left: 5px;
}
.header__item:hover{
  background-color:rgb(235, 155, 157);
  border-radius: 4px;
}
.logo{
    height: 50px;
    width: 50px;
}
.headerlogo{
    font-weight: bold;
}
.headerbutton{
    cursor: pointer;
}
.btn{
    background-color: rgb(44, 110, 191);
    padding: 10px 10px;
    color: #fff;
    border: none;   
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover{
    background-color:rgb(235, 155, 157);
    border-radius: 4px;
}
.avatar{
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.4);
    padding: 5px ;
}
